<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
<meta name="description" content="TEDxUofM">
<meta name="author" content="TEDxUofM">
<meta keywords="viewport" content="TEDxUofM. TEDx at the University of Michigan, Ann Arbor.">	
<title>TEDxUofM</title>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/global.css" type="text/css" media="screen">
<link rel="stylesheet" type="text/css" href="lib/grid.css"/>
<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
<link rel="image_src" href="images/logo.png">
<meta property="og:title" content="TEDxUofM" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.tedxuofm.com" />
<meta property="og:image" content="http://www.tedxuofm.com/images/logo.png" />
<meta property="og:description" content="TEDxUofM is an independently organized TED event that brings together the leaders and the best.">
<link rel="icon" type="image/png" href="favicon.ico">
<!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->