<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if lt IE 9]>
<script>
document.createElement('video');
</script>
<![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
	<% include ../partials/head %>
	<!-- <link rel="stylesheet" href="css/index.css" type="text/css" media="screen"> -->
</head>

<body>

	<p>This is the body doe</p>

	<% include ../partials/footer %>

	<!--<script type="text/javascript" src="js/index.js"></script>-->


</body>
</html>